## Copy jboss-as-{{jboss_datagrid_mode}}.sh or jboss-eap-rhel.sh file to /etc/init.d
- name: Copy JBoss EAP Service File
  become: true
  copy:
    src: "{{jboss_datagrid_bin_dir}}/init.d/{{jboss_datagrid_service_file}}"
    dest: "/etc/init.d/{{ jboss_datagrid_service_file | regex_replace('.sh$','-node-'+item+'.sh') }}"
    remote_src: True
    owner: "{{ jboss_datagrid_user }}"
    group: "{{ jboss_datagrid_group }}"
    mode: "755"
  with_sequence: count="{{jboss_datagrid_nodes}}"
  notify:
    - Restart Jboss Datagrid Services
  tags:
    - jboss_datagrid

- name: Update the JBOSS_CONF file in jboss-as-standalone service file
  lineinfile: 
    dest: "/etc/init.d/{{ jboss_datagrid_service_file | regex_replace('.sh$','-node-'+item+'.sh') }}"
    regexp: '^(.*)JBOSS_CONF="/etc/jboss-as/jboss-as.conf"'
    line: '\1JBOSS_CONF="/etc/jboss-as/jboss-as-node-{{item}}.conf"'
    backrefs: yes
  with_sequence: count="{{jboss_datagrid_nodes}}"
  notify:
    - Restart Jboss Datagrid Services
  tags:
    - jboss_datagrid

- name: Update the JBOSS_SCRIPT jboss-as-standalone service file
  lineinfile: 
    dest: "/etc/init.d/{{ jboss_datagrid_service_file | regex_replace('.sh$','-node-'+item+'.sh') }}"
    regexp: '^(JBOSS_SCRIPT=)(.*)'
    line: 'if [ -z "$JBOSS_SCRIPT" ]; then \n  \1\2 \nfi'
    backrefs: yes
  with_sequence: count="{{jboss_datagrid_nodes}}"
  notify:
    - Restart Jboss Datagrid Services
  tags:
    - jboss_datagrid

- name: Update the Process Name jboss-as-standalone service file
  lineinfile: 
    dest: "/etc/init.d/{{ jboss_datagrid_service_file | regex_replace('.sh$','-node-'+item+'.sh') }}"
    regexp: '^(# processname:)(.*)$'
    line: '\1 {{jboss_datagrid_service_file | regex_replace(".sh$","-node-"+item+".sh")}}'
    backrefs: yes
  with_sequence: count="{{jboss_datagrid_nodes}}"
  notify:
    - Restart Jboss Datagrid Services
  tags:
    - jboss_datagrid

- name: Update the Pid File jboss-as-standalone service file
  lineinfile: 
    dest: "/etc/init.d/{{ jboss_datagrid_service_file | regex_replace('.sh$','-node-'+item+'.sh') }}"
    regexp: '^(# pidfile:)(.*)$'
    line: '\1 /var/run/jboss-as/jboss-as-standalone-node-{{item}}.pid'
    backrefs: yes
  with_sequence: count="{{jboss_datagrid_nodes}}"
  notify:
    - Restart Jboss Datagrid Services
  tags:
    - jboss_datagrid

- name: Update the Config File jboss-as-standalone service file
  lineinfile: 
    dest: "/etc/init.d/{{ jboss_datagrid_service_file | regex_replace('.sh$','-node-'+item+'.sh') }}"
    regexp: '^(# config:)(.*)$'
    line: '\1 /etc/jboss-as/jboss-as-node-{{item}}.conf'
    backrefs: yes
  with_sequence: count="{{jboss_datagrid_nodes}}"
  notify:
    - Restart Jboss Datagrid Services
  tags:
    - jboss_datagrid

## TODO 
## JBOSS_SCRIPT=$JBOSS_HOME/bin/standalone.sh

- name: Add jboss datagrid Service
  become: true
  command: "chkconfig --add {{ jboss_datagrid_service_file | regex_replace('.sh$','-node-'+item+'.sh') }}"
  with_sequence: count="{{jboss_datagrid_nodes}}"
  tags:
    - jboss_datagrid

- name: Enable jboss datagrid Service
  become: true
  service:
    name: "{{ jboss_datagrid_service_file | regex_replace('.sh$','-node-'+item+'.sh') }}"
    enabled: yes
  with_sequence: count="{{jboss_datagrid_nodes}}"
  tags:
    - jboss_datagrid