---
# UDP packet size setting in bytes 
- name: UDP recevie buffer size
  sysctl:
    name: net.core.rmem_max
    value: "{{jboss_datagrid_udp_recevie_packet_size}}"
  tags:
    - jboss_datagrid_multi_nodes

- name: UDP send buffer for JGroups
  sysctl:
    name: net.core.wmem_max
    value: "{{jboss_datagrid_udp_send_buffer_size}}"
  tags:
    - jboss_datagrid_multi_nodes

# copy the clustered.xml configuration to {{jboss_datagrid_home}}/standalone/configuration
- name: Copy clustered.xml configuration
  template:
    src: clustered.xml.j2
    dest: "{{jboss_datagrid_home}}/standalone/configuration/clustered.xml"
    owner: "{{ jboss_datagrid_user }}"
    group: "{{ jboss_datagrid_group }}"
    mode: 0755
  tags:
    - jboss_datagrid_multi_nodes

# copy the standalone.conf {{jboss_datagrid_home}}/bin
- name: Copy standalone.conf
  template:
    src: standalone.conf.j2
    dest: "{{jboss_datagrid_runtime_conf_file}}"
    owner: "{{ jboss_datagrid_user }}"
    group: "{{ jboss_datagrid_group }}"
    mode: 0755
  notify:
    - Restart Jboss Datagrid Services
  tags:
    - jboss_datagrid_multi_nodes

# create node directories
- name: "Create JBoss Data Grid Node {{item}} base directory"
  file:
    path: "{{jboss_datagrid_library_dest}}/node-{{item}}"
    state: directory
    owner: "{{ jboss_datagrid_user }}"
    group: "{{ jboss_datagrid_group }}"
    mode: 0755
  with_sequence: count="{{jboss_datagrid_nodes}}"
  tags:
    - jboss_datagrid_multi_nodes

- debug: 
    msg: "Host: {{ansible_ssh_host}}"

# Copy the configuration files from base image to the nodes does change in dest dir will reverse sync?
- name: "Create configuration on node {{ item }}"
  synchronize:
    src: "{{jboss_datagrid_home}}/standalone/configuration"
    dest: "{{jboss_datagrid_library_dest}}/node-{{item}}"
    recursive: yes
    owner: yes
    group: yes
    rsync_opts:
      - "--exclude=standalone_xml_history"
  delegate_to: "{{ ansible_ssh_host }}"  
  with_sequence: count="{{jboss_datagrid_nodes}}"
  notify:
    - Restart Jboss Datagrid Services
  tags:
    - jboss_datagrid_multi_nodes

- name: "Create deployments on node {{ item }}"
  synchronize:
    src: "{{jboss_datagrid_home}}/standalone/deployments"
    dest: "{{jboss_datagrid_library_dest}}/node-{{item}}"
    recursive: yes
    owner: yes
    group: yes
  delegate_to: "{{ ansible_ssh_host }}"  
  with_sequence: count="{{jboss_datagrid_nodes}}"  
  tags:
    - jboss_datagrid_multi_nodes

- name: "Create lib on node {{ item }}"
  synchronize:
    src: "{{jboss_datagrid_home}}/standalone/lib"
    dest: "{{jboss_datagrid_library_dest}}/node-{{item}}"
    recursive: yes
    owner: yes
    group: yes
  delegate_to: "{{ ansible_ssh_host }}"  
  with_sequence: count="{{jboss_datagrid_nodes}}"
  notify:
    - Restart Jboss Datagrid Services
  tags:
    - jboss_datagrid_multi_nodes